<p id="notice"><%= notice %></p>

<h1>Setups</h1>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Second</th>
      <th>Dob</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @setups.each do |setup| %>
      <tr>
        <td><%= setup.first %></td>
        <td><%= setup.second %></td>
        <td><%= setup.dob %></td>
        <td><%= link_to 'Show', setup %></td>
        <td><%= link_to 'Edit', edit_setup_path(setup) %></td>
        <td><%= link_to 'Destroy', setup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Setup', new_setup_path %>
